@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,800&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,800&display=swap&subset=latin-ext');
body {
  font-family: 'Raleway', sans-serif;
}



#header {
  display: flex;
  justify-content: space-between;
  height: 80px;
  width: 100vw;
  background-color: rgb(75, 73, 69);
  padding-top: 20px;
  padding-left: 10vw;
  padding-right: 10vw;
  font-family: 'Raleway', sans-serif;
  color: white;
  font-size: 25px;
  border-bottom: 1px solid rgb(75, 73, 69);
  box-shadow: 0px 3px 6px #00000029;

  .fas {
    color: white;
    font-size: 35px;
  }


}

.mainInput {
  display: flex;
  justify-content: center;
  background-color: #B6C6D1;
  height: 300px;
  width: 80vw;
  border-radius: 7px;
  margin: 20px auto;
  
  
  #inputWrapper{
    align-self: center;
    height: 80%;
    width: 50%;
    display: flex;
    justify-content: center;
    
    #detect {
      font-family: inherit;
      align-self: center;
      height: 70px;
      width: 100px;
      text-align: center;
      display: block;
      font-size: 1.1em;
      padding-left: 2px;
     

    }
    #inputCode {
      display: flex;
      align-self: center;
      height: 70px;
      width: 400px;
      font-size: 1.1em;
  
    }
    
  }
}

