#formWrapper {
    margin: 0 auto;
    margin-left: 10vw;
    margin-right: 10vw;
    padding: 2rem;
    background-color: #B6C6D1;


    form {
        text-align: center;

     
            

            .form-group {

                legend{
                    text-align: center;
                }
                display: inline-flex;

                label {
                    margin-right: 20px;
                }


                input {
                    width: 30vw;
                }




            }
        
    }

}