#headerTitle {
    margin: 0 auto;
    text-align: center;
    margin-top: 60px;


    h2 {
       
        font-weight: 700;
        color: rgb(92, 91, 88);

    }
    i{
        font-size: 7x;
        color: rgb(92, 91, 88);

    }

}

#wrapperDiv {
    margin: 0 auto;
    margin-left: 10vw;
    margin-right: 10vw;
    padding: 2rem;
    
    margin-top: 30px;
    min-height: 540px;
    border-radius: 5px;
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.3);
    display: flex;


    

    
    #imgDiv{
        background-image: url("../icons/medi.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        min-width: 50%;
        min-height: 150px;


    }
    #textDiv{
        min-width: 50%;
        min-height: 150px;

        p{
            font-size: 1.3rem;

        }
    }

}

#imgDivSecond {
    background-image: url("../icons/iStock-1059218298-kopia_2-removebg-preview.png");
    background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        min-width: 50%;
        min-height: 150px;

}

#imgDivThird{
    background-image: url("../icons/couple-jogging-together-vector-id1134616946.jpg");
    background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        min-width: 50%;
        min-height: 150px;

}
