#photoDiv {

    background-color: white;
    display: block;
    text-align: center;
    width: 100vw;
    min-height: 236px;
    margin-bottom: 5rem;

    div {
        background-image: url("../icons/Fotoram.io\ \(1\).png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        min-width: 50px;
        min-height: 236px;

    }
}

#aboutWrapper {
    min-height: 300px;
    width: 80vw;
    background-color: #B6C6D1;

    margin: 0 auto;
    margin-top: 40px;

    padding: 10px;
    display: flex;
    justify-content: space-around;
    border-radius: 5px;
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.3);





    div {
        justify-content: center;

        .aboutDiv {
            align-self: center;
            border-radius: 8px;
            border: 2px solid grey;
          

            p .hashTekst {
                color: #5c5b58;
                font-weight: 700;
                font-size: 1.2rem;
                text-shadow:  0 0 8px 2px rgba(0, 0, 0, 0.3);

            }
        }


        #first {
            background-image: url("../icons/diverse-international-group-of-women-or-girl-hugging-together-union-vector-id1154639826-removebg-preview.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;

            height: 196px;
            margin-top: 25px;
            z-index: 50;
            font-family: 'Open Sans', sans-serif;

        }

        p {
            text-align: center;
            padding: 22px 14px;
            font-weight: 700;
            text-align: center;
            color: #5c5b58;
        }

        #second {
            background-image: url("../icons/MEDI-removebg-preview-kopia.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            background-color: #B6C6D1;
            height: 196px;
            margin-top: 25px;
            z-index: 50;
            font-family: 'Raleway', sans-serif;

        }

        p {
            text-align: center;
            padding: 22px 14px;
            font-size: 1.5rem;



            text-align: center;
        }

        #third {
            background-image: url("../icons/couple-jogging-together-vector-id1134616946-removebg-preview.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            background-color: #B6C6D1;
            height: 196px;
            margin-top: 25px;
            z-index: 50;
        }

        p {
            text-align: center;
            padding: 22px 14px;
            text-align: center;
        }


    }

}

#footer {
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100vw;
    background-color: rgb(92, 91, 88);
    margin-top: 60px;
    padding-top: 27px;
    padding-bottom: 20px;
    padding-left: 10vw;
    padding-right: 10vw;
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 25px;
    border-top: 1px solid rgb(75, 73, 69);
    box-shadow: 0px 3px 6px #00000029;

    #leftSide {
        font-size: 0.9rem;

        #footerText {
            margin-top: 0.5rem;

        }



    }

    #socialMedia {

        i {
            margin-left: 10px;

        }

    }

}

